.un-datacard-header-togglebutton {
  font-size: 13px;
  background-color: #0f5960;
  border-color: #0f5960;

  span.x-btn-icon-el {
    font-size: 16px;
    color: white;
  }

  span.x-btn-inner {
    font-size: 16px;
  }
}

.un-datacard-header-togglebutton.gray{
  background-color: #717171;
  border-color: #717171;
}