.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

/org.unidata.mdm.war/build/
/org.unidata.mdm.war/out/
/org.unidata.mdm.system/build/
/org.unidata.mdm.system/out/
/org.unidata.mdm.core/build/
/org.unidata.mdm.core/out/
/org.unidata.mdm.meta/build/
/org.unidata.mdm.meta/out/
/org.unidata.mdm.data/build/
/org.unidata.mdm.data/out/
/org.unidata.mdm.search/build/
/org.unidata.mdm.search/out/
/org.unidata.mdm.soap.core/build/
/org.unidata.mdm.soap.core/out/
/org.unidata.mdm.soap.core/src/main/generated/
/org.unidata.mdm.soap.meta/build/
/org.unidata.mdm.soap.meta/out/
/org.unidata.mdm.soap.meta/src/main/generated/
/org.unidata.mdm.soap.data/build/
/org.unidata.mdm.soap.data/out/
/org.unidata.mdm.soap.data/src/main/generated/
