$baseCls: '.un-dataentity-attribute';

#{$baseCls}-type-weblink {
  input {
    text-decoration: underline;
    border: none !important;
    cursor: pointer !important;
    color: blue !important;
  }
}
