// глобальный набор цветов высокого уровня с привязкой к сущностям

// цвета основных панелей
$un-color-main-menu: #252525;
$un-color-search-panel: #515151;
$un-color-result-panel: #dcdcdc;
$un-color-content-panel: #f2f2f2;

// цвета разделов
$un-color-section-main: hsl(165, 58%, 55%);
$un-color-section-classifier: hsl(257, 58%, 67%);
$un-color-section-cluster: hsl(31, 95%, 64%);
$un-color-section-data: hsl(204, 83%, 60%);
$un-color-section-task: hsl(354, 81%, 63%);
