/**
 * @var {string}
 * The font family of the BoundList items
 */
$boundlist-item-font-family: $font-family-3 !default;

/**
 * @var {number}
 * The font size of the BoundList items
 */
$boundlist-item-font-size: 13px !default;

/**
 * @var {string}
 * The font-weight of the BoundList items
 */
$boundlist-item-font-weight: normal !default;