.un-cluster {
  .un-cluster-filter {
    .x-header {
      padding: 10px 10px 10px 0px;
    }

    .x-collapsed {
      padding: 10px;
    }

    .x-header .x-title-item {
      //color: #fff;
    }

    .x-collapsed .x-title-item {
      //color: #fff;
      padding-left: 10px;
    }

    .x-panel-header, .x-panel-header-default, .x-panel-body, .x-toolbar, .x-tool, .x-tool-img {
      //background: #37799D !important;
    }

    .x-grid-empty {
      padding: 10px 10px 10px 20px;
      //color: #e5e5e5;
      //background: #37799D;
    }

    .x-grid-item {
      //color: #fff;
      //background: #37799D;
      border: 0;
      //border-color: #50768C;
    }

    .x-grid-item-focused .x-grid-cell-inner {
      //color: #fff;
      border: 0;
    }

    .x-grid-item-over .x-grid-cell {
      //color: #50768C !important;
      border: 0 !important;
    }

    .x-grid-item-over .x-grid-item-focused .x-grid-cell-inner,
    .x-grid-item-over .x-grid-item-focused,
    .x-grid-item-over {
      //background: #f0f0f0 !important;
      //color: #50768C !important;
      border: 0px !important;
      cursor: pointer !important;
    }

    .x-grid-item-selected {
      //background-color: #6191ab;
    }

    .x-grid-cell-inner:before {
      border: 0px;
    }
  }



  .un-cluster-list{
    .x-header {
      padding: 10px 10px 10px 0px;
    }

    .x-collapsed {
      padding: 10px;
    }

    .x-header .x-title-item {
      color: #fff;
    }

    .x-collapsed .x-title-item {
      color: #fff;
      padding-left: 10px;
    }

    .x-panel-header, .x-panel-header-default, .x-panel-body, .x-toolbar, .x-tool, .x-tool-img {
      //background: #52839D  !important;
    }

    .x-grid-empty {
      padding: 10px 10px 10px 20px;
      color: #e5e5e5;
      //background: #52839D;
    }

    .x-grid-item {
      //color: #fff;
      //background: #52839D;
      border: 0;
      //border-color: #50768C;
    }

    .x-grid-item-focused .x-grid-cell-inner {
      //color: #fff;
      border: 0;
    }

    .x-grid-item-over .x-grid-cell {
      //color: #50768C !important;
      border: 0 !important;
    }

    .x-grid-item-over .x-grid-item-focused .x-grid-cell-inner,
    .x-grid-item-over .x-grid-item-focused,
    .x-grid-item-over {
      //background: #f0f0f0 !important;
      //color: #50768C !important;
      border: 0px !important;
      cursor: pointer !important;
    }

    .x-grid-item-selected {
      //background-color: #52839D;
    }

    .x-grid-cell-inner:before {
      border: 0px;
    }

    .paging-toolbar .x-toolbar-text {
      //color: #ffffff !important;
    }

    .paging-toolbar .x-tbar-page-prev {
      background-image: url(../resources/page-prev.png);
    }

    .paging-toolbar .x-tbar-page-next {
      background-image: url(../resources/page-next.png);
    }

    .paging-toolbar .x-tbar-page-first {
      background-image: url(../resources/page-first.png);
    }

    .paging-toolbar .x-tbar-page-last {
      background-image: url(../resources/page-last.png);
    }

    .paging-toolbar .x-btn-over {
      //background: #6caccc !important;
      //border: 1px solid #7ac2e6 !important;
    }
  }
}
