$baseCls: 'un-admin-metarecord-property';

.#{$baseCls} {
  .validity-period-panel label {
    width: 350px !important;
  }

  .validity-period-panel label .x-form-item-label-inner {
    width: 340px !important;
  }
}