$baseCls: '.un-etalon-info-window';

#{$baseCls} {
  //.x-title-text {
  //  padding: 0;
  //}

  .un-td-name {
    padding-left: 20px;
    font-weight: bold;
  }

  //.un-td-source-system-name {
  //  padding-left: 20px;
  //}
}