$baseCls: 'un-attribute-tag-field';

.#{$baseCls} {
  input[placeholder] {
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
  input::-moz-placeholder {
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
  input:-moz-placeholder {
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
  input:-ms-input-placeholder {
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}