.unidata-admin-sourcesystems-sourcesystem {
    .properties {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #d0d0d0;
  }

  .properties .x-form-item-label, .properties .x-form-item-label-inner {
    width: 150px !important;
  }
}