.unidata-admin-metarecord-attribute {
  > .x-box-inner {
    background-color: #eaeaea !important;
  }

  //.attribute-property-grid .x-grid-cell-value .x-grid-cell-inner {
  //  font-weight: bold;
  //}

  .attribute-property-grid .x-grid-cell-name {
    background-color: #eaeaea;
  }

  .attribute-property-grid .x-grid-cell-value {
    background-color: white;
  }

  //.attribute-property-grid .x-grid-cell-value.x-grid-cell-selected {
  //  background-color: white;
  //  border: 1px lightskyblue solid;
  //}

  //.attribute-property-grid tr.row-readonly .x-grid-cell-value,
  //.attribute-property-grid tr.row-readonly .x-grid-cell-name {
  //  background-color: lightgrey;
  //}

  //.attribute-property-grid-container {
  //  margin: 5px 10px 5px 15px;
  //}

  .attribute-tree-component {
    margin: 5px 10px 5px 10px;
  }

  .group-delimiter-row td {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 25px !important;
  }

  //.attribute-property-grid .x-grid-item-container {
  //  border-top: 1px solid #EDEDED;
  //  border-left: 1px solid #EDEDED;
  //}
  //
  //.attribute-property-grid .x-grid-with-row-lines .x-grid-item:last-child {
  //  border-bottom-width: 1px !important;
  //}

  //.attribute-combo-box {
  //  margin-left: 20px !important;
  //}
}