@include extjs-panel-ui(
  $ui: 'card',
  $ui-header-font-size: 20px,
  $ui-header-line-height: 24px,
  //$ui-header-font-family: ("Roboto Light", Roboto),
  $ui-header-text-padding: 0,
  $ui-header-background-color: white,
  $ui-body-background-color: rgba(255, 255, 255, 0.8),
  $ui-body-color: #2D5B75,
  $ui-body-font-size: 16px
);

.x-panel-header-card {
  @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.35));
}

.x-panel-card {
  @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.35));
  margin: 2px 5px 8px 5px;

  &.x-panel-card-disable-shadow {
    @include box-shadow(none);
  }

  &.x-panel-header-card-disable-shadow .x-panel-header-card {
    @include box-shadow(none);
  }

  >.x-toolbar {
    background-color: rgba(255, 255, 255, 0.8);
    color: #31627e;
    .x-form-trigger {
      background-color: transparent;
    }
  }
}
