$un-tooltip-padding: 6px 9px;

$un-tooltip-font-family: $font-family-2;
$un-tooltip-font-size: 14px;
$un-tooltip-font-color: $color-primary-1-0;

$un-tooltip-background-color: #E6E6E6;

$un-tooltip-border-style: solid;
$un-tooltip-border-width: 1px;
$un-tooltip-border-color: #C1C1C1;
$un-tooltip-border-radius: 3px;

$un-tooltip-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
