$animation-name: "un-animation-fadeinup";

@-webkit-keyframes un-animation-fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes un-animation-fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.#{$animation-name} {
  -webkit-animation-name: $animation-name;
  animation-name: $animation-name;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}