$tip-background-color: #e6e6e6;
//$tip-background-gradient: 'none' !default;
//$tip-body-color: #000 !default;
$tip-body-font-size: 14px;
//$tip-body-font-weight: $font-weight !default;
$tip-border-width: 1px;
$tip-border-radius: 3px;
$padding: 8px - ($tip-border-radius - $tip-border-width);
$tip-body-padding: ($padding - 2) $padding;
//$tip-body-link-color: $tip-body-color !default;
//$tip-header-color: $tip-body-color !default;
//$tip-header-font-size: $tip-body-font-size !default;
//$tip-header-font-weight: bold !default;
//$tip-header-body-padding: 3px 3px 0 3px !default;
//$tip-header-padding: $tip-header-body-padding !default;
$tip-border-color: #c1c1c1;
//$tip-error-inner-border-color: #fff !default;
//$tip-error-inner-border-width: 0 !default;
//$tip-error-border-color: $tip-border-color !default;
//$tip-error-border-radius: $tip-border-radius !default;
//$tip-error-border-width: $tip-border-width !default;
//$tip-error-background-color: $tip-background-color !default;
//$tip-error-body-padding: $tip-body-padding !default;
//$tip-error-body-color: $tip-body-color !default;
//$tip-error-body-font-size: $tip-body-font-size !default;
//$tip-error-body-font-weight: $tip-body-font-weight !default;
//$tip-error-body-link-color: $tip-body-link-color !default;
//$tip-tool-spacing: 4px !default;
//$tip-tool-background-image: 'tools/tool-sprites' !default;
//$include-tip-default-ui: $include-default-uis !default;
//$include-tip-form-invalid-ui: $include-default-uis !default;